# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List few Data Science tools
- List few examples of Arithmetic Operations

Some of the popular languages that Data Scientists use are:
 1. Python
 2. R
 3. SQL
 4. Julia
 5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. MatPlotLib
3. NumPy
4. Keras
5. TensorFlow

| Data Science Tools |
|:------------------:|
|   Apache Hadoop    |
|--------------------|
|   Apache Spark     |
|--------------------|
|    TensorFlow      |
|--------------------|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Mullapudi Sree Pavan Teja